@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #11111188;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 80%;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

.lista{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
}

header img{
    height: 60px;
}

.lista ul{
    display: flex;
    list-style: none;
}

.lista ul li a{
    text-decoration: none;
    color: #eee;
    margin-right: 40px;
}

#sectionBanner{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: #008342;
}

#sectionBanner .container img{
    height: 800px;
}

#sectionConteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding-top: 50px;
}

#sectionConteudo .container{
    justify-content: center;
}

#sectionConteudo .conteudo{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-titulo h1{
    color: #008342;
    font-size: 44px;
}

.time-logo img{
    height: 200px;
}

.time-titulo{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 500px;
}

.botoes button{
     width: 200px;
     height: 60px;
     font-size: 24px;
     background-color: #222;
     border: 2px solid #008342;
     color: #008342;
     cursor: pointer;
    transition: 0.7s all ease-in-out;
    border-radius: 10px;
}

.botoes button:hover{
    box-shadow: inset 0px 0px 7px 4px #00cb65, 0px 0px 7px 4px #00cb65;
    color: #00cb65;
}

.time-slogan{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.time-slogan video{
    width: 500px;
    border: 2px solid #008342;
    border-radius: 2px;
}

.time-slogan h2{
    color: #f1f1f1;
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 100px;
}

.time-frase img{
    margin-left: 165px;
    margin-bottom: 20px;
}

.time-frase b{
    color: #008342;
}

.historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.historia h1{
    font-size: 34px;
    color: #008342;
    margin-bottom: 30px;
}

.historia-texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.historia-texto p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d1d1d1;
    width: 90%;
    line-height: 26px;
}

.historia-texto p b{
    font-size: 24px;
    color: #22975d;
    margin-top: 40px;
}

.time-atual{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#sectionTimeAtual{
    width: 100%;
    background: url("./../Imagens/Td-Garden.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jogadores{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 330px;
    position: relative;
}

.jogador{
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    position: absolute;
}

.jogador:nth-child(1){
    margin-right: 1000px;
}
.jogador:nth-child(2){
    margin-right: 500px;
    padding-left: 100px;
}
.jogador:nth-child(4){
    margin-left: 500px;
}
.jogador:nth-child(5){
    margin-left: 1000px;
}

.jogador img{
    height: 300px;
    padding-left: 10px;
}

.lista-config{
    display: flex;
}

.tabelaCeltics{
    border: 2px solid rgb(0, 113, 43);
    width: 1000px;
    margin-bottom: 30px;
    background-color: #45cc84;
    padding: 2px;
}

.tabelaCeltics tr, td{
    border: 1px solid gray;
    padding: 10px;
}

.tabelaCeltics tr{
    background-color: #55d394;
}

.tabelaCeltics tr:nth-child(1){
    background-color: #22975d;
    color: white;
    font-size: 18px;
}

.listaLegenda{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.legendaPos{
    margin-right: 30px;
    width: 300px;
    height: 150px;
    background-color: #111111e6;
    padding: 20px;
    border-radius: 20px;
    color: rgb(229, 229, 229);
}

.legendaTop{
    height: 175px;
    background-color: #111111e6;
    padding: 20px;
    border-radius: 20px;
    color: rgb(229, 229, 229);
}

#sectionEstatistica{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.grafico{
    width: 500px;
    height: 500px;
}

.texto-estatisticas{
    color: #898989;
}

#sectionEstatistica p{
    text-align: center;
    color: #7f7f7f;
    font-size: 18px;
    margin-top: 30px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    animation: zoom 5s ease-in-out infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}