@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    background: #EC234B;
    color: #EC234B;
}

.btnVoltar{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 0;
    left: 0;
    padding: 10px;
}
.btnVoltar button{
    width: 86px;
    height: 34px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #ebebeb;
    color: #8f0000;
    font-size: 16px;
    cursor: pointer;
}
.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.app h1{
    font-size: 25px;
    color: #bb0000;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #bb0000;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #bb0000;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

.azul,
.azul #next-btn{
    background: #0366AC;
}
.azul .app h1,
.azul .quiz h2,
.azul .btnVoltar button{
    color: #0366AC;
}
.branco,
.branco #next-btn{
    background: #636363;
}
.branco .app h1,
.branco .quiz h2,
.branco .btnVoltar button{
    color: #636363;
}
.azul .btnVoltar button{
    cursor: pointer;
}
.branco .btnVoltar button{
    cursor: pointer;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#video {
    width: 100%;
    max-width: 500px;
}

#next-question-btn {
    background: #bb0000;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

audio{
    margin-top: 10px;
}

#video-container{
    padding-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}